<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.7488678771397!2d77.61712241430394!3d12.923855819422181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15a76a499419%3A0x495c862aa0ca4585!2sTeranet+Networkz!5e0!3m2!1sen!2sin!4v1540044028752" width="100%" height="350px" frameborder="0" style="border:0" allowfullscreen ></iframe> 
</div>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-6">
      <h3 class="mb-5 mt-5">
        <fa name="comments"></fa>
        GET IN TOUCH</h3>
        <p>Please complete and submit this form and one
          of our representatives will reply promptly.</p>

      <form class="form" #f="ngForm" novalidate>

        <div class="mb-3">
          <div class="input-group ">
            <div class="input-group-prepend ">
              <span class="input-group-text ">
                <fa name="user "></fa>
              </span>
            </div>
            <input type="text " class="form-control" id="unm" name="unm" [(ngModel)]="feedback.userName" required
         #unm=ngModel placeholder="Type your name " />
          </div>
          <div class="alert alert-danger" *ngIf="unm.errors && (unm.touched || unm.dirty)">
              <p>Please see that name
                  <strong>
                    <span *ngIf="mno.errors.required ">is not left blank</span>
               </strong>
             
            </p>
        </div>
        </div>
        <div class="mb-3 ">
          <div class="input-group ">
            <div class="input-group-prepend ">
              <span class="input-group-text ">
                <fa name="mobile "></fa>
              </span>
            </div>
            <input type="text " class="form-control " id="mno " name="mno " required pattern="\d{10}" [(ngModel)]="feedback.mobileNumber "
              #mno=ngModel placeholder="Type your mobile number " />
          </div>
          <div class="alert alert-danger " *ngIf="mno.errors && (mno.touched || mno.dirty) ">
            <p>Please see that Mobile Number
              <strong>
                <span *ngIf="mno.errors.required ">is not left blank</span>
                <span *ngIf="mno.errors.pattern ">is exactly 10 digits only</span>
              </strong>
            </p>
          </div>
        </div>
        <div class="mb-3 ">
          <div class="input-group ">
            <div class="input-group-prepend ">
              <span class="input-group-text ">
                <fa name="envelope "></fa>
              </span>
            </div>
            <input type="email " class="form-control " id="mail " name="mail " required email [(ngModel)]="feedback.emailId " #mail=ngModel
              placeholder="Type your email id " />
          </div>
          <div class="alert alert-danger " *ngIf="mail.errors && (mail.touched || mail.dirty) ">
            <p>Please see that Email ID
              <strong>
                <span *ngIf="mail.errors.required ">is not left blank</span>
                <span *ngIf="mail.errors.email ">is of correct format</span>
              </strong>
            </p>
          </div>
        </div>
        <div class="mb-3 ">
            <div class="input-group ">
              <div class="input-group-prepend ">
            <span class="input-group-text" style="float:left">
                <fa name="question-circle"></fa>
              </span>
        <select class="form-control" required [(ngModel)]="feedback.queryType" name="qt">
          <option value="" selected="selected">--Select--</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
      </div>
      </div>
      </div>
      <div class="mb-3 ">
          <div class="input-group ">
            <div class="input-group-prepend ">
          <span class="input-group-text " style="float:left">
            <fa name="comments "></fa>
          </span>

          <textarea [(ngModel)]="feedback.concern" placeholder="Provide feedback! " name="fdb " rows="5 " cols="70 ">
            
          </textarea>
        </div>
        </div>
        </div>


        <div>
          <button class="btn btn-block btn-primary " (click)="save()">Submit</button>
        </div>
       
      </form>
    </div>

<div class="col-md-6">
    <!--<div class="row">
        <div class="col-md-2 mb-3"></div>
        <div class="col-md-8 mb-3 mt-5">
  	<div class="card">
        <div class="card-body">
    
    <h4 >
      FOLLOW US   
    </h4>    
    <a href="#" class="fa fa-facebook"></a>
     <a href="#" class="fa fa-twitter"></a>
     <a href="#" class="fa fa-pinterest"></a>
     <a href="#" class="fa fa-google"></a>
    </div>
    </div>
    </div>
    </div>-->
    <div class="row">
        <div class="col-md-2 mb-3"></div>
        <div class="col-md-8 mb-3">
    
    <div class="card">
        <div class="card-body">
        <h4>   
          <span>ADDRESS</span> 
        </h4>
        <p>108 Thomaston Road<br>Preston CT, 06395</p>	
      </div>
    </div>
  </div>
</div>
  <div class="row">
      <div class="col-md-2 mb-3"></div>
        <div class="col-md-8 mb-3">
    
        <div class="card">
            <div class="card-body">
     <h4>
          <span>CONTACT US</span>
            </h4>
        <p>1-800-123-4567<br>info@teranet.com</p>	
      </div>
    </div>
    </div>
      </div>
    </div>
    </div>
  </div>
   
  
        
     
    
    

    
